@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="page-card">
    <h2>Pagina is niet beschikbaar</h2>
    <p>Probeer het later opnieuw</p>
</div>