@model StageProject_RaceCore.Models.Player
@{
    ViewData["Title"] = "Teams";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<h2>Nieuwe speler</h2>

<form asp-action="Create" method="post">

    <div class="mb-3">
        <label class="form-label">Naam</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Opslaan</button>
    <a asp-action="Index" class="btn btn-secondary">Terug</a>
</form>